<header class="header">
  <div class="logo">
    Theingi Lin
  </div>

  <nav class="nav">
    <a href="#" class="active">ホーム</a>
    <a href="#">自己紹介</a>
    <a href="#">スキル</a>
    <a href="#">制作実績</a>
    <a href="#">職務経歴</a>
    <a href="#">お問い合わせ</a>

    <div class="moon">
      🌙
    </div>
  </nav>
</header>