<header class="header">
  <div class="logo">
    Theingi Lin
  </div>

  <nav class="nav">
    <a href="#" class="active">ホーム</a>
    <a href="#">自己紹介</a>
    <a href="#">スキル</a>
    <a href="#">制作実績</a>
    <a href="#">職務経歴</a>
    <a href="#">お問い合わせ</a>

    <div class="moon">
      🌙
    </div>
  </nav>
</header>
<section class="hero" id="home">
  <div class="hero-content">
    <p class="hero-greeting">こんにちは、はじめまして！</p>

    <h1 class="hero-title">Theingi Lin</h1>

    <h2 class="hero-subtitle">
      <span>Webエンジニア</span>を目指しています
    </h2>

    <p class="hero-description">
      TECH CAMPでRuby on Railsを中心にWebアプリケーション開発を学び、
      現在はWebエンジニアとしてのキャリアチェンジに向けて活動しています。
    </p>

    <div class="hero-buttons">
      <a href="#projects" class="btn-primary">プロジェクトを見る →</a>
      <a href="#contact" class="btn-secondary">お問い合わせ ✉</a>
    </div>

    <div class="hero-links">

      <a href="https://github.com/theingi96" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>

      <a href=" https://www.linkedin.com/in/theingi-lin" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>

      <a href="mailto:theingilin.personal@gmail.com">
        <i class="fa-regular fa-envelope"></i>
      </a>

    </div>
  </div>

  <div class="hero-image">
    <%= image_tag "profile.jpg", class: "profile-image" %>
  </div>
</section>